body {
  font-family: Linux Libertine,Georgia,Times,serif;
}

main .main-logo {
  height: 29px;
  background-image: url('https://pngimg.com/uploads/wikipedia/wikipedia_PNG11.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 60px;
}

main .slogan {
  margin-top: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-content {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Wikipedia-logo-v2.svg/1200px-Wikipedia-logo-v2.svg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 200px;
  height: 400px;
  margin-top: -30px;
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
}

main .main-content div {
  margin-top: 20px;
  margin-bottom: -32px;
}

main .main-content h4 {
  margin-bottom: -10px;
}

main .main-content h4 a {
  color: #336bcf; 
  text-decoration: none;
}

main .main-content h4 a:hover {
  cursor: pointer;
  text-decoration: underline;
}

main .main-content p {
  color: #54595D;
  font-size: 13px;
}

main .main-content .renglon1 {
  /* margin-top: -40px; */
  text-align: center;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

main .main-content .renglon1 div {
  margin: 0 70px;
}

main .main-content .renglon2 {
  /* margin-top: -40px; */
  text-align: center;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

main .main-content .renglon2 div {
  margin: 0 130px;
}

main .main-content .renglon3 {
  /* margin-top: -40px; */
  text-align: center;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

main .main-content .renglon3 div {
  margin: 0 140px;
}

main .main-content .renglon4 div {
  margin: 0 130px;
}

main .main-content .renglon4 {
  /* margin-top: -40px; */
  text-align: center;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

main .main-content .renglon5 {
  /* margin-top: -40px; */
  text-align: center;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

main .main-content .renglon5 div {
  margin: 0 70px;
}

main .main-input {
  /* border: 1px solid red; */
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-input input {
  /* border: 1px solid red; */
  width: 400px;
  height: 40px;
  font-size: 20px;
  border-radius: 2px;
  border: 1px solid #c5c9ce;
}

main .main-input input:hover {
  border: 1px solid #72777d;
}

main .main-input input:focus {
  border-color: #36c;
  box-shadow: inset 0 0 0 1px #36c;
  outline: 0; 
}

main .main-input .selector-idioma {
  display: inline;
  position: absolute;
  right: 32.1rem;
  align-self: center;
  /* top: 1rem;
  bottom: 1.2rem;
  max-width: 9.5rem;
  height: 2.4rem;
  border-radius: 2px; */
}

main .main-input .idioma-seleccionado {
  display: inline-block;
  margin: 0;
  color: #54595d;
  font-size: 13px;
  line-height: 45px;
  text-transform: uppercase;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
  cursor: pointer;
}

main .main-input select {
  cursor: pointer;
  background: transparent;
  border-radius: 0px;
  width: 20px;
  appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

main .main-input select:focus{
  outline: none;
}

main .main-input i {
  background-repeat: no-repeat;
}

main .main-input button {
  margin-left: 5px;
  background-image: url('http://pluspng.com/img-png/search-button-png-search-button-png-256.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  width: 50px;
  height: 50px;
  border: none;
  vertical-align: middle;
  /* opacity: 45%; */
}

main .idioma {
  margin: 30px 0px;
}

main .idioma .select-languaje {
  /* width: 500px; */
  height: 35px;
  background-color: #f8f9fa;
  border-radius: 2px;
  border: 1px solid #c5c9ce;
  margin: 0px 10px;
  outline: 20px solid #fff;
}

main .idioma .select-languaje:hover {
  border: 1px solid #72777d;
}

main .idioma .select-languaje:focus {
  border-color: #36c;
  box-shadow: inset 0 0 0 1px #36c;
  outline: 0; 
}

main .idioma .button-idioma {
  text-align: center;
}

main .idioma .traducir {
  /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/OOjs_UI_icon_language-ltr-progressive.svg/1024px-OOjs_UI_icon_language-ltr-progressive.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px; */
  height: 20px;
  width: 20px;
  margin: 0px 5px;
  vertical-align: middle;
}

main .idioma .texto-boton {
  color: #36c;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  vertical-align: middle;
}

main .idioma .flechita {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin: 0px 5px;
}

main .idioma .rayita {
  background-color: #c8ccd1;
  display: block;
  position: relative;
  max-width: 460px;
  width: 80%;
  margin: -16px auto 16px;
  height: 1px;
  transition: max-width .2s ease-out 400s;
  z-index: -10;
}

hr {
  clear: both;
  height: 0;
  border-bottom: 0px solid #c8ccd1;
  margin: 3.2rem 1.3rem;
}

footer .sidebar {
  width: 35%;
  float: left;
  clear: left;
  margin-bottom: 32px;
  vertical-align: top;
}

footer .sidebar .logo {
  height: 45px;
  width: 45px;
}

footer .sidebar p {
  /* position: relative; */
  margin: 0px 20px;
  color: #54595d;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
}

footer .wikimedia {
  position: relative;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
}

footer .apps {
  position: relative;
  max-width: 350px;
  margin: 30px auto;
  display: flex;
  background-color: #f8f9fa;
  padding: 10px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-flex;
}

footer ul img {
  /* width: 30px; */
  height: 30px;
  /* border: 1px solid red; */
  vertical-align: middle;
}

footer .tiendas {
  margin: 0 0px;
}

footer .otros-proyectos {
    display: inline-block;
    width: 65%;
}

footer .otros-proyectos img {
  width: 45px;
  display: inline-block;
  text-align: center
  vertical-align: middle;
}

footer .otros-proyectos h5 {
  color: #36c;
}

footer .otro-proyecto {
  float: left;
  position: relative;
  width: 33%;
  height: 90px;
  display: inline;
}